---
apiVersion: v1
kind: Service
metadata:
  name: demo-metrics
  namespace: intelligent-sre
  labels:
    app: demo-metrics
spec:
  type: ClusterIP
  ports:
    - port: 9102
      targetPort: 9102
      protocol: TCP
      name: metrics
  selector:
    app: demo-metrics

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-metrics
  namespace: intelligent-sre
  labels:
    app: demo-metrics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-metrics
  template:
    metadata:
      labels:
        app: demo-metrics
    spec:
      containers:
        - name: demo-metrics
          image: prom/statsd-exporter:latest
          ports:
            - containerPort: 9102
              name: metrics
            - containerPort: 9125
              name: statsd
              protocol: UDP
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
