groups:
  - name: basic
    rules:
      - alert: NodeExporterDown
        expr: up{job="node-exporter"} == 0
        for: 30s
        labels:
          severity: warning
        annotations:
          summary: "Node Exporter is down"
          description: "Prometheus cannot scrape node-exporter for 30s."
